node_modules
.idea
*.bundle
public/
run.sh
screenlog*
.players
.notifications
messages/*.txt
tmp/*
config/env.js
*.log
log/
db/players.db
db/notifications.json
db/players.json
db/dataStore/*
compose/db
compose/log
compose/config
settings.json