<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>
    <main class="container-fluid">
        <b>Notification Log</b>
        <br>
        <br>
        <ul class="list-group">
        <% for ( notification of notifications ) { %>
            <li class="list-group-item"><%- notification %></li>
        <% } %>
        </ul>
    </main>
</body>

</html>
 